<div class="text-center get-started">
  <h1>Welcome to myADR</h1>
  <%= link_to "Get Started", shows_path, class: 'btn btn-primary' %>
</div>

<div class="section light-blue">
  <h2 class="section-text text-center">
    Make your own custom cue sheets quickly and easily with myADR
  </h2>
  <div class="text-center col-xs-10 col-xs-offset-1">
    <%= image_tag("myADR.png", class: "img-responsive") %>
  </div>
</div>
