@import "bootstrap-sprockets";
@import "bootstrap";

.clear {
  clear: both;
}

.double {
  border: 0;
  border-top: 5px double black;
}

.single {
  border: 0;
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #fff;
}

.add {
  color: #0000EE;
  cursor: pointer;
}

input[type=text], textarea {
  width: 100%;
}

.omitted {
  text-decoration: line-through;
}

.full-height {
  height: 100px;
}
